<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2009. This beautifully written piece of code has been created by Bjorn Harvold. Please do not use my code without explicit permission or I just might have to come by your office and ruin your day.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d{ISO8601} %-5p %x%m%n"/>-->
            <param name="ConversionPattern" value="[%-5p] %C{1}.%M():%L - %x%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>
    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %C{1}.%M():%L - %x%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>
    <appender name="TEXT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="casino.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %C{1}.%M():%L - %x%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <!--                          -->
    <!-- Declare the SMTPAppender -->
    <!--                          -->
    <!--
    <appender name="EMAIL"  class="org.apache.log4j.net.SMTPAppender">
        <param name="BufferSize" value="512" />
        <param name="SMTPHost" value="smtp.1and1.com" />
        <param name="SMTPUsername" value="m38911600-1" />
        <param name="SMTPPassword" value="lactose8" />
        <param name="From" value="log4j@hxcel.com" />
        <param name="To" value="bjorn@hxcel.com" />
        <param name="Subject" value="[DEV] Log4J Error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %x%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>
    -->

    <logger name="jsp" additivity="false">
        <level value="trace"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.online.casino.service" additivity="false">
        <level value="${service.log.level}"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.online.casino.domain" additivity="false">
        <level value="${domain.log.level}"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.online.casino.test" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.online.casino.web" additivity="false">
        <level value="${web.log.level}"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.online.casino.physhun" additivity="false">
        <level value="${web.log.level}"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="org.cometd" additivity="false">
        <level value="warn"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.atomikos" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.opensymphony" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="com.wazeegroup" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="org.apache" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="org.hibernate" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="net.sf" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="org.eclipse.jetty" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <logger name="org.junit" additivity="false">
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL"/> -->
    </logger>

    <!--                           -->
    <!-- setup log4j's root logger -->
    <!--                           -->
    <root>
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="TEXT"/>
        <!-- <appender-ref ref="EMAIL" /> -->
    </root>
</log4j:configuration>